src/facturx/xsd_and_schematron/cii-extended-ctc-fr/CrossIndustryInvoice_100pD22B_urn_un_unece_uncefact_data_standard_QualifiedDataType_100.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 sp1 (x64) (http://www.altova.com) by Gerhard Heemskerk (Gerhard Heemskerk Consultancy) -->
<xsd:schema xmlns:qdt="urn:un:unece:uncefact:data:standard:QualifiedDataType:100" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:100" targetNamespace="urn:un:unece:uncefact:data:standard:QualifiedDataType:100" elementFormDefault="qualified" version="100.D22B">
	<xsd:simpleType name="AccountingAccountTypeCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="AccountingAccountTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:AccountingAccountTypeCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="AccountingE501"/>
				<xsd:attribute name="listAgencyID" type="xsd:token" default="210"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="listURI" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="AccountingAmountTypeCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="AccountingAmountTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:AccountingAmountTypeCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="AccountingE601"/>
				<xsd:attribute name="listAgencyID" type="xsd:token" default="210"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="listURI" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="StatusDescriptionCodeAccountingDebitCreditContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="AccountingDebitCreditStatusCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="AccountingDebitCreditStatusCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:StatusDescriptionCodeAccountingDebitCreditContentType">
				<xsd:attribute name="listID" type="xsd:token" fixed="4405_Accounting Debit Credit"/>
				<xsd:attribute name="listAgencyID" type="qdt:AccountingDebitCreditStatusCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="listURI" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="AccountingDocumentCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="AccountingDocumentCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="AccountingDocumentCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:AccountingDocumentCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="1001_Accounting"/>
				<xsd:attribute name="listAgencyID" type="qdt:AccountingDocumentCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="listURI" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="AdjustmentReasonCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="AdjustmentReasonCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="AdjustmentReasonCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:AdjustmentReasonCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="4465"/>
				<xsd:attribute name="listAgencyID" type="qdt:AdjustmentReasonCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="AddressTypeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="AddressTypeCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="AddressTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:AddressTypeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="3131"/>
				<xsd:attribute name="listAgencyID" type="qdt:AddressTypeCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="AllowanceChargeIdentificationCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="AllowanceChargeIdentificationCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:AllowanceChargeIdentificationCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="5189_AllowanceChargeID"/>
				<xsd:attribute name="listAgencyID" type="xsd:token" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="listURI" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="AllowanceChargeReasonCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="AllowanceChargeReasonCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="AllowanceChargeReasonCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:AllowanceChargeReasonCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="4465_AllowanceChargeReasonCode"/>
				<xsd:attribute name="listAgencyID" type="qdt:AllowanceChargeReasonCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="listURI" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="AutomaticDataCaptureMethodCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="AutomaticDataCaptureMethodCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="AutomaticDataCaptureMethodCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:AutomaticDataCaptureMethodCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="7233_AutomaticDataCaptureMethodCode"/>
				<xsd:attribute name="listAgencyID" type="qdt:AutomaticDataCaptureMethodCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="listURI" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CargoCategoryCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="CargoCategoryCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="CargoCategoryCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:CargoCategoryCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="Recommendation 21-Annex I"/>
				<xsd:attribute name="listAgencyID" type="qdt:CargoCategoryCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CargoCommodityCategoryCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="CargoCommodityCategoryCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:CargoCommodityCategoryCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="7357"/>
				<xsd:attribute name="listAgencyID" type="xsd:token" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CargoOperationalCategoryCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="CargoOperationalCategoryCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="CargoOperationalCategoryCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:CargoOperationalCategoryCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="7085b"/>
				<xsd:attribute name="listAgencyID" type="qdt:CargoOperationalCategoryCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ChargePayingPartyRoleCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="ChargePayingPartyRoleCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="ChargePayingPartyRoleCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:ChargePayingPartyRoleCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="3035_Charge Paying"/>
				<xsd:attribute name="listAgencyID" type="qdt:ChargePayingPartyRoleCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CommunicationChannelCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="CommunicationChannelCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="CommunicationChannelCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:CommunicationChannelCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="3155_CommunicationChannelCode"/>
				<xsd:attribute name="listAgencyID" type="qdt:CommunicationChannelCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="listURI" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ContactTypeCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="ContactTypeCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="ContactTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:ContactTypeCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="3139_ContactTypeCode"/>
				<xsd:attribute name="listAgencyID" type="qdt:ContactTypeCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="listURI" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CountryIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="CountryIDSchemeAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="CountryIDType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:CountryIDContentType">
				<xsd:attribute name="schemeID" type="xsd:token"/>
				<xsd:attribute name="schemeAgencyID" type="qdt:CountryIDSchemeAgencyIDContentType"/>
				<xsd:attribute name="schemeVersionID" type="xsd:token" default="second edition 2006"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CurrencyCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="CurrencyCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="CurrencyCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:CurrencyCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="ISO 4217 3A"/>
				<xsd:attribute name="listAgencyID" type="qdt:CurrencyCodeListAgencyIDContentType" default="5"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="listURI" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="DangerousGoodsPackingCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="DangerousGoodsPackagingLevelCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="DangerousGoodsPackagingLevelCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:DangerousGoodsPackingCodeContentType">
				<xsd:attribute name="listAgencyID" type="qdt:DangerousGoodsPackagingLevelCodeListAgencyIDContentType" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="DangerousGoodsRegulationCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="DangerousGoodsRegulationCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="DangerousGoodsRegulationCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:DangerousGoodsRegulationCodeContentType">
				<xsd:attribute name="listAgencyID" type="qdt:DangerousGoodsRegulationCodeListAgencyIDContentType" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="DeliveryTermsCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="DeliveryTermsCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="DeliveryTermsCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:DeliveryTermsCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="4053"/>
				<xsd:attribute name="listAgencyID" type="qdt:DeliveryTermsCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="DeliveryTermsFunctionCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="DeliveryTermsFunctionCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="DeliveryTermsFunctionCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:DeliveryTermsFunctionCodeContentType">
				<xsd:attribute name="listAgencyID" type="qdt:DeliveryTermsFunctionCodeListAgencyIDContentType" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="DimensionTypeCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="DimensionTypeCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="DimensionTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:DimensionTypeCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="6145"/>
				<xsd:attribute name="listAgencyID" type="qdt:DimensionTypeCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="DocumentCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="DocumentCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:DocumentCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="1001"/>
				<xsd:attribute name="listAgencyID" type="qdt:DocumentCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
				<xsd:attribute name="listURI" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="DocumentStatusCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentStatusCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="DocumentStatusCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:DocumentStatusCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="1373"/>
				<xsd:attribute name="listAgencyID" type="qdt:DocumentStatusCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="FormattedDateTimeFormatContentType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="TimeOnlyFormattedDateTimeType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="DateOnlyFormattedDateTimeType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="FormattedDateTimeType">
		<xsd:sequence>
			<xsd:element name="DateTimeString">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="format" type="qdt:FormattedDateTimeFormatContentType"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="FreightChargeTariffClassCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="FreightChargeTariffClassCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="FreightChargeTariffClassCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:FreightChargeTariffClassCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="5243"/>
				<xsd:attribute name="listAgencyID" type="qdt:FreightChargeTariffClassCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="FreightChargeTypeIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="FreightChargeTypeIDSchemeAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="FreightChargeTypeIDType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:FreightChargeTypeIDContentType">
				<xsd:attribute name="schemeID" type="xsd:token"/>
				<xsd:attribute name="schemeAgencyID" type="qdt:FreightChargeTypeIDSchemeAgencyIDContentType"/>
				<xsd:attribute name="schemeVersionID" type="xsd:token"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="GoodsTypeCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="GoodsTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:GoodsTypeCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="TDED 7357"/>
				<xsd:attribute name="listAgencyID" type="xsd:token" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="GoodsTypeExtensionCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="GoodsTypeExtensionCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:GoodsTypeExtensionCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="TDED 7361"/>
				<xsd:attribute name="listAgencyID" type="xsd:token" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LinearUnitMeasureType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitCode" type="qdt:LinearUnitMeasureUnitCodeContentType"/>
				<xsd:attribute name="unitCodeListVersionID" type="xsd:token"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="LinearUnitMeasureUnitCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LineStatusCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="LineStatusCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="LineStatusCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:LineStatusCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="1229_LineStatusCode"/>
				<xsd:attribute name="listAgencyID" type="qdt:LineStatusCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="listURI" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="LocationFunctionCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationFunctionCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="LocationFunctionCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:LocationFunctionCodeContentType">
				<xsd:attribute name="listAgencyID" type="qdt:LocationFunctionCodeListAgencyIDContentType" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="LogisticsChargeCalculationBasisCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="LogisticsChargeCalculationBasisCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:LogisticsChargeCalculationBasisCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="TDED 6131"/>
				<xsd:attribute name="listAgencyID" type="xsd:token" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="MessageFunctionCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="MessageFunctionCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="MessageFunctionCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:MessageFunctionCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="1225_MessageFunctionTypeCode"/>
				<xsd:attribute name="listAgencyID" type="qdt:MessageFunctionCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="listURI" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PackageTypeCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="PackageTypeCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="PackageTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:PackageTypeCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="7065"/>
				<xsd:attribute name="listAgencyID" type="qdt:PackageTypeCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PackagingMarkingCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="PackagingMarkingCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="PackagingMarkingCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:PackagingMarkingCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="7233_PackagingMarkingCode"/>
				<xsd:attribute name="listAgencyID" type="qdt:PackagingMarkingCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="listURI" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PartyRoleCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="PartyRoleCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="PartyRoleCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:PartyRoleCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="3035"/>
				<xsd:attribute name="listAgencyID" type="qdt:PartyRoleCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PaymentGuaranteeMeansCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentGuaranteeMeansCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="PaymentGuaranteeMeansCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:PaymentGuaranteeMeansCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="4431"/>
				<xsd:attribute name="listAgencyID" type="qdt:PaymentGuaranteeMeansCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PaymentMeansChannelCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentMeansChannelCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="PaymentMeansChannelCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:PaymentMeansChannelCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="4435"/>
				<xsd:attribute name="listAgencyID" type="qdt:PaymentMeansChannelCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PaymentMeansCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentMeansCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="PaymentMeansCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:PaymentMeansCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="4461"/>
				<xsd:attribute name="listAgencyID" type="qdt:PaymentMeansCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PaymentTermsEventTimeReferenceCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentTermsEventTimeReferenceCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="PaymentTermsEventTimeReferenceCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:PaymentTermsEventTimeReferenceCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="2475_Payment Terms Event"/>
				<xsd:attribute name="listAgencyID" type="qdt:PaymentTermsEventTimeReferenceCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PaymentTermsIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentTermsIDSchemeAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="PaymentTermsIDType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:PaymentTermsIDContentType">
				<xsd:attribute name="schemeID" type="xsd:token"/>
				<xsd:attribute name="schemeAgencyID" type="qdt:PaymentTermsIDSchemeAgencyIDContentType"/>
				<xsd:attribute name="schemeVersionID" type="xsd:token"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PaymentTermsTypeCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentTermsTypeCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="PaymentTermsTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:PaymentTermsTypeCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="4279"/>
				<xsd:attribute name="listAgencyID" type="qdt:PaymentTermsTypeCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PriceTypeCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="PriceTypeCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="PriceTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:PriceTypeCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="5375"/>
				<xsd:attribute name="listAgencyID" type="qdt:PriceTypeCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ReferenceCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReferenceCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="ReferenceCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:ReferenceCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="1153_ReferenceTypeCode"/>
				<xsd:attribute name="listAgencyID" type="qdt:ReferenceCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="SealConditionCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="SealConditionCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="SealConditionCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:SealConditionCodeContentType">
				<xsd:attribute name="listAgencyID" type="qdt:SealConditionCodeListAgencyIDContentType" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="SealingPartyRoleCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="SealingPartyRoleCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="SealingPartyRoleCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:SealingPartyRoleCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="9303"/>
				<xsd:attribute name="listAgencyID" type="qdt:SealingPartyRoleCodeListAgencyIDContentType" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="SealTypeCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="SealTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:SealTypeCodeContentType">
				<xsd:attribute name="listAgencyID" type="xsd:token" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="StatusCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="StatusCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="StatusCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:StatusCodeContentType">
				<xsd:attribute name="listAgencyID" type="qdt:StatusCodeListAgencyIDContentType" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="TaxCategoryCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="TaxCategoryCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="TaxCategoryCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:TaxCategoryCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="5305"/>
				<xsd:attribute name="listAgencyID" type="qdt:TaxCategoryCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="listURI" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="TaxTypeCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="TaxTypeCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="TaxTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:TaxTypeCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="5153"/>
				<xsd:attribute name="listAgencyID" type="qdt:TaxTypeCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="listURI" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="TimeReferenceCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="TimeReferenceCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="TimeReferenceCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:TimeReferenceCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="2475"/>
				<xsd:attribute name="listAgencyID" type="qdt:TimeReferenceCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="TransportEquipmentCategoryCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="TransportEquipmentCategoryCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="TransportEquipmentCategoryCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:TransportEquipmentCategoryCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="8053"/>
				<xsd:attribute name="listAgencyID" type="qdt:TransportEquipmentCategoryCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="TransportEquipmentFullnessCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="TransportEquipmentFullnessCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="TransportEquipmentFullnessCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:TransportEquipmentFullnessCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="8169"/>
				<xsd:attribute name="listAgencyID" type="qdt:TransportEquipmentFullnessCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="TransportEquipmentSizeTypeCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="TransportEquipmentSizeTypeCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="TransportEquipmentSizeTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:TransportEquipmentSizeTypeCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="8155"/>
				<xsd:attribute name="listAgencyID" type="qdt:TransportEquipmentSizeTypeCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="TransportMeansTypeCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="TransportMeansTypeCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="TransportMeansTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:TransportMeansTypeCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="Recommendation 28"/>
				<xsd:attribute name="listAgencyID" type="qdt:TransportMeansTypeCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="TransportModeCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="TransportModeCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="TransportModeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:TransportModeCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="Recommendation 19"/>
				<xsd:attribute name="listAgencyID" type="qdt:TransportModeCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="TransportMovementStageCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="TransportMovementStageCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="TransportMovementStageCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:TransportMovementStageCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="8051"/>
				<xsd:attribute name="listAgencyID" type="qdt:TransportMovementStageCodeListAgencyIDContentType" default="6"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="TransportPaymentArrangementCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="TransportServicePaymentArrangementCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="TransportServicePaymentArrangementCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:TransportPaymentArrangementCodeContentType">
				<xsd:attribute name="listAgencyID" type="qdt:TransportServicePaymentArrangementCodeListAgencyIDContentType" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="VolumeUnitMeasureType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitCode" type="qdt:VolumeUnitMeasureUnitCodeContentType"/>
				<xsd:attribute name="unitCodeListVersionID" type="xsd:token"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="VolumeUnitMeasureUnitCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="WeightUnitMeasureType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitCode" type="qdt:WeightUnitMeasureUnitCodeContentType"/>
				<xsd:attribute name="unitCodeListVersionID" type="xsd:token"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="WeightUnitMeasureUnitCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
